.ticket {
	padding-top: 56px;
}

.ticket__header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	background-color: #1e1f23;
}

.ticket__title {
	padding: 4px 24px 0;
	line-height: 32px;
	color: #fff;
	font-size: 22px;
	font-weight: 700;

	em {
		color: #ff0052;
		font-size: 24px;
	}
}

.ticket__list-box {
	
}

.ticket-tab {
	display: flex;
	padding: 0 24px;

	.ticket-tab__item {
		& + .ticket-tab__item {
			margin-left: 16px;
		}
	}

	.ticket-tab__button {
		line-height: 32px;
		color: rgba(255, 255, 255, 0.3);
		font-size: 22px;
		font-weight: 700;
	}

	[aria-selected="true"] {
		.ticket-tab__button {
			color: #fff;
		}
	}
}

.ticket-history {
	margin-top: 16px;
	padding: 0 24px;

	.ticket-history__item {
		position: relative;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 10px 0 10px 60px;
		min-height: 64px;
	}

	.ticket-history__img {
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 44px;
		height: 44px;
		border-radius: 22px;
	}

	.ticket-history__left {
		flex: 1;
	}

	.ticket-history__name {
		line-height: 24px;
		color: #fff;
		font-size: 16px;
	}

	.ticket-history__date {
		line-height: 20px;
		color: #6b6b6b;
	}
	
	.ticket-history__right {
		margin-left: 14px;
		white-space: nowrap;
		text-align: right;
	}

	.ticket-history__count {
		display: block;
		line-height: 22px;
		color: #ff296e;
		font-size: 14px;
		font-weight: 500;
	}

	.ticket-history__number {
		line-height: 20px;
		color: #b6b7be;
	}
}